.nav-container{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.nav-container__list{
    display: inline;
    margin: 0;
}

.nav-container__list .nav-container__list--item{
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    margin: 15px;
    border-bottom: 1px solid lightgrey;
}

.nav-container__list .nav-container__list--item:hover{
    border-bottom: 1px solid grey;
}

.nav-container__list .nav-container__list--item a {
    text-decoration: none;
    color: black;
}

.nav-container__user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container__user .nav-container__user--greetings{
    margin: auto 15px;
    vertical-align: middle;
}

.nav-container__user .nav-container__user--logout-button{
    background:#008FEF;
    margin: auto 0;
    padding: 10px 20px;
    color: #fff;
    cursor:pointer;
}
