<!-- <div class="row columns">
  {{password}}
  <form name="credentialsForm" action="" id="inputForm">
    <input type="email" [(ngModel)]="email" name="emailInput">
    <input type="password" name="" id="" [(ngModel)]="password" name="password">
  </form>

  <button (click)="login(email, password)" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout(password)" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>
</div> -->

<div class="nav-container">
  <ul class="nav-container__list">
    <li class="nav-container__list--item"> <a routerLink="">Home</a></li>
    <li class="nav-container__list--item" *ngIf="!(auth.user | async)"> <a routerLink="/login">Login</a></li>
    <li class="nav-container__list--item" *ngIf="!(auth.user | async)"> <a routerLink="/signup">Signup</a></li>
  </ul>
  <div class="nav-container__user">
    <span class="nav-container__user--greetings" *ngIf="auth.user | async">Signed in as {{ (auth.user | async)?.email }}!</span>
    <button class="nav-container__user--logout-button" (click)="logout()" *ngIf="auth.user | async">
        Logout
    </button>
  </div>
</div>
<router-outlet></router-outlet>

